.project-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .inner-project {
    padding: 5px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin: 5px;

    .project-title {
      font-family: Roboto;
      font-size: 22px;
      color: black;
    }

    .project-description-container {
      margin: 0;

      .project-description-content {
        font-size: 14px;
        color: #555;
      }

      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        background: #eaeaea;
        height: 1px;
        width: 95%;
      }
    }

    .project-tags-container {
      h4 {
        margin: 15px 0;
        font-weight: 100;
        font-size: 15px;
        color: #222;
      }

      ul {
        margin: 0;
      }
    }

    .project-group-list-collaborator {
      margin: 15px 0;
      font-weight: 100;
      font-size: 15px;
      color: #222;
    }

    .project-tags-list,
    .project-group-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      .project-tags-element {
        font-weight: bold;
        color: #777;
      }

      .project-group-people {
        padding: 0px;
        padding: 5px 15px;
        font-size: 14px;
        font-weight: bold;
        color: #7e7e7e;

        a {
          margin: 0 5px;
          font-style: italic;
          color: #444;
        }
      }
    }
  }

  ul {
    list-style: none;

    li {
      padding: 0 5px;
      font-size: 14px;
    }
  }

  .project-status-container {
    display: flex;
    justify-content: flex-end;

    .project-status-content {
      font-size: 14px;
      margin: 0;
      padding: 10px;
      color: #888;
    }

    .project-url-content {
      padding: 10px;
      background: none;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: #FFF9C4;
      }

      a {
        font-size: 14px;
        color: #F57F17;
        text-decoration: none;
      }
    }
  }
}
