.cv-container {

  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  div h1 {
    color: black;
    border: 3px solid;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
  }

  .cv-formation-content {
    background: #757575;
  }

  .language-speaking-content {
    background: #448AFF;
  }

  .computer-science-os-office-subcontainer {
    background: #536DFE;
  }

  .computer-science-os-office-title,
  .computer-science-web-title,
  .computer-science-applicative-title {
    text-align: center;
    background: lightgray;
    padding: 5px;
    font-size: 18px;
    font-family: Roboto-Thin;
  }

  .cv-formation-content,
  .language-speaking-content,
  .computer-science-os-office-subcontainer,
  .computer-science-web-front-container,
  .computer-science-web-back-container,
  .computer-science-web-database-container,
  .computer-science-applicative-container,
  .cv-hobbies-subcontainer,
  .cv-various-subcontainer {
    margin: 10px 0;
    padding: 1px 10px;
    border-radius: 3px;
    color: #FFF;
  }

  .computer-science-web-front-container,
  .computer-science-web-back-container,
  .computer-science-web-database-container {
    background: #304FFE;
  }

  .computer-science-applicative-container {
    background: #FBC02D;
  }

  .cv-hobbies-subcontainer {
    background: #F57F17;
  }

  .cv-various-subcontainer {
    background: #546E7A;
  }

  .computer-science-web-front-title,
  .computer-science-web-back-title,
  .computer-science-web-database-title {
    font-size: 22px;
  }
}
