.header-container {
  height: $baseline * 10;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  .inner-header {
    display: flex;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  max-width: 200px;

  .logo {
    display: flex;
    align-items: center;
    background: url(/static/images/icon@256.png) left center no-repeat;
    background-size: 48px 48px;
    height: 48px;
    padding-left: 56px;
    margin-left: 20px;
    color: #37474F;

    &::after {
      content: 'Portfolio';
    }
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  .nav-content {
    margin: 0;
    max-height: $baseline * 10;
    display: flex;
    list-style: none;

    li {
      margin: 5px 10px;
      padding: 5px;

      a {
        font-size: 16px;
        color: #37474F;

        &:hover {
          color: #1976D2;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    max-width: 90%;
    height: 100%;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
    z-index: 1;

    .inner-header {
      flex-direction: column;
    }

    .logo-container {
      margin: 10px;
    }

    .nav-container {
      justify-content: flex-start;

      .nav-content {
        flex-direction: column;
        padding: 0 10px;

        li {
          width: 100%;
        }
      }
    }
  }
}


